<div class="container-fluid">
  <h3 id="title" class="sprint-page-title">Overview</h3>
  <div class="row">
    <div id="sprint-details" class="col-sm-3 col-md-6 col-lg-4 mr-4">
      <div id="sprint-name" style="color: white;">
        Sprint name: {{ chosenSprint.name }}
      </div>
      <div id="sprint-time-box" class="row" style="color: white;">
        <div id="sprint-start-date" class="ml-3" style="color: white;">
          Timebox: {{ chosenSprint.startDate }}
        </div>
        -
        <div id="sprint-end-date" class="mb-2" style="color: white;">
          {{ chosenSprint.endDate }}
        </div>
      </div>
      <div id="sprint-summary" class="mt-10" style="color: white;">
        Sprint Summary: {{ chosenSprint.sprintSummary }}
      </div>
    </div>

    <div
      class="col-sm-9 col-md-6 col-lg-6 ml-4"
      style="background-color: transparent;"
    >
      <div id="sprint-date-container" style="color: white;">
        <p
          id="sprint-date"
          style="color: red; font-size:large; font-weight: bold;"
        >
          Due Date: {{ chosenSprint.endDate }}
        </p>
      </div>

      <div class="row w-100" *ngIf="!isActive">
          <h5 style="color: white;">Review Details: </h5><br>
          <div class="row w-100 ml-1 mb-2" style="color: white;">

              {{ chosenSprint.reviewDetails }} sfssfsdfsf
          </div>

          <h5 style="color: white;">Retro Details: </h5><br>
            <div class="row w-100 ml-1 mb-5" style="color: white;">
              {{ chosenSprint.retroDetails }} tgergerherher
            </div>
      </div>

      <div id="sprint-userstories" class="row w-100">
        <div class="row" *ngIf="activeUserStores">
          <h5 style="color: white; font-weight: bolder;">
            Incompleted Sprints
          </h5>
          <div
            *ngFor="let s of activeUserStores"
            class="card m-3"
            style="width: 35.5em; height: 12em;"
          >
            <div class="card-body">
              <h6 class="card-title">{{ s.title }}</h6>
              <hr />
              <p class="card-text">{{ s.description }}</p>
              <p class="card-text">{{ s.status }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <span class="{{ SetPriorityColor(s.priority) }}"
                >{{ s.priority }}
              </span>
              <span class="badge badge-secondary ml-2">{{ s.storyPoint }}</span>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="completedUserStories">
          <h5 style="color: white; font-weight: bolder;">Completed Sprints</h5>
          <div
            *ngFor="let s of completedUserStories"
            class="card m-3"
            style="width: 35.5em; height: 12em;"
          >
            <div class="card-body">
              <h6 class="card-title">{{ s.title }}</h6>
              <hr />
              <p class="card-text">{{ s.description }}</p>
              <p class="card-text">{{ s.status }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <span class="{{ SetPriorityColor(s.priority) }}"
                >{{ s.priority }}
              </span>
              <span class="badge badge-secondary ml-2">{{ s.storyPoint }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="isActive">
    <button class="btn btn-primary w-50 m-5" (click)="nextActivity()">
      Continue
    </button>
  </div>
</div>
