<div class="container-fluid">
  <h3 id="title" class="sprint-page-title">Overview</h3>
  <div class="row">
    <div id="sprint-details" class="col-sm-3 col-md-6 col-lg-4 mr-4">
      <div id="sprint-name" style="color: #21232f;">
        Sprint name: {{ chosenSprint.name }}
      </div>
      <div id="sprint-time-box" class="row" style="color: #21232f;">
        <div id="sprint-start-date" class="ml-3" style="color:#21232f;">
          Timebox: {{ chosenSprint.startDate }}
        </div>
        -
        <div id="sprint-end-date" class="mb-2" style="color:#21232f;">
          {{ chosenSprint.endDate }}
        </div>
      </div>
      <div id="sprint-summary" class="mt-10" style="color: #21232f;">
        Sprint Summary: {{ chosenSprint.sprintSummary }}
      </div>
    </div>

    <div class="col-sm-9 col-md-6 col-lg-6 ml-4">

      <div id="sprint-date-container" style="color:#21232f;">
        <p id="sprint-date">{{ chosenSprint.endDate }}</p>
      </div>

      <div class="row w-100" *ngIf="!isActive">
          <h5>Review Details: </h5>
          <br>
          <div class="row w-100 ml-1 mb-2">
              {{ chosenSprint.reviewDetails }}
          </div>

          <h5 >Retro Details: </h5>
          <br>

            <div class="row w-100 ml-1 mb-5">
              {{ chosenSprint.retroDetails }}
            </div>
      </div>

      <div id="sprint-userstories" class="row w-100">
        <div class="row" *ngIf="activeUserStores">
          <h5 style=" font-weight: bolder;">
            Incompleted Userstories
          </h5>
          <div
            *ngFor="let s of activeUserStores"
            class="card m-3"
            style="width: 35.5em; height: 12em;"
          >
            <div class="card-body">
              <h6 class="card-title">{{ s.title }}</h6>
              <hr />
              <p class="card-text">{{ s.description }}</p>
              <p class="card-text">{{ s.status }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <span class="{{ SetPriorityColor(s.priority) }}"
                >{{ s.priority }}
              </span>
              <span class="badge badge-secondary ml-2">{{ s.storyPoint }}</span>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="completedUserStories">
          <h5 style="font-weight: bolder;">Completed Userstories</h5>
          <div
            *ngFor="let s of completedUserStories"
            class="card m-3"
            style="width: 35.5em; height: 12em;"
          >
            <div class="card-body">
              <h6 class="card-title">{{ s.title }}</h6>
              <hr />
              <p class="card-text">{{ s.description }}</p>
              <p class="card-text">{{ s.status }}</p>
            </div>
            <div class="card-footer bg-transparent">
              <span class="{{ SetPriorityColor(s.priority) }}"
                >{{ s.priority }}
              </span>
              <span class="badge badge-secondary ml-2">{{ s.storyPoint }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center" *ngIf="isActive">
    <button class="btn btn-primary w-50 m-5" (click)="nextActivity()">
      Continue
    </button>
  </div>
</div>
