<div class="row">
  <div class="col my-3  pt-1" *ngIf="sprints">
      <h5 style="color: white;">Active Sprints</h5>
    <div class="row w-100">
      <div
        style="width: 15em;"
        class="card mx-2 mb-3"
        *ngFor="let sprint of activeSprints"
      >
        <div class="card-body">
          <h5 class="card-title">{{ sprint.name }}</h5>
          <hr />
          <div>{{ sprint.sprintSummary }}</div>
          <div>{{ sprint.endDate }}</div>
          <hr />
          <div>{{ sprint.status }}</div>
        </div>
      </div>
    </div>
  </div>


  <div class="col my-3  pt-1" *ngIf="sprints">
      <h5 style="color: white;">Completed Sprints</h5>
    <div class="row w-100">
      <div
        style="width: 15em;"
        class="card mx-2 mb-3"
        *ngFor="let sprint of completedSprints"
      >
        <div class="card-body m-2">
          <h5 class="card-title">{{ sprint.name }}</h5>
          <hr />
          <div>{{ sprint.sprintSummary }}</div>
          <div>{{ sprint.endDate }}</div>
          <hr />
          <div>{{ sprint.status }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
