#navDiv {
  background-color: #3751ff;
  color: #ffffff;
}

#logoTitle {
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 12px;

}


footer {
  font-family: 'Roboto', sans-serif;
  color: #3751ff;
}
