<div class="row mb-2">
  <h4>Sprint Planning</h4>
</div>

<div class="row">
<div class="col-5">

  <div class="form-group form-row">
    <input #xknj type="text" class="form-control" id="sprintNameInput" placeholder="Sprint Name">
  </div>

  <div class="form-row">
    <div class="col">
      <input type="date" class="form-control" placeholder="Start Date">
    </div>
    <div class="col">
      <input type="date" class="form-control" placeholder="End Date">
    </div>
  </div>
    <div class="form-group form-row">
        <label for="sprintDesciptionTextarea">Description</label>
      <textarea class="form-control" id="sprintDesciptionTextarea" rows="3"></textarea>
    </div>

</div>

<div class="col-5 mr-7">
    <div class="row">
        <div class="card p-2 m-3">
            <h6>Create User Story</h6>
            <button class="btn btn-primary" type="submit" (click)="OpenModal()">ADD</button>
            </div>
    </div>

  <div class="row">
      <div *ngFor="let s of stories"   class="card p-2 m-3" (click)="selectedUserStory(s)" >
          <h6>{{ s.title }}</h6>
          <p>{{ s.description }}</p>
          <p></p>
          </div>
  </div>


</div>

    <button class="btn btn-primary" type="submit"  [routerLink]="['/sprint-board']"  >Completed</button>

  <!-- Modal -->
  <div class="modal fade" id="newStoryModal" tabindex="-1" role="dialog" aria-labelledby="newStoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newStoryModalTitle">New User Story</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <!-- Content-->

            <div class="form-group form-row">
              <input  #newStoryTitle name="userStoryInput" type="text" class="form-control" placeholder="Story Title">
            </div>
              <div class="form-group form-row">

                <textarea #newStoryDetail name="DesciptionTextarea" class="form-control"></textarea>
              </div>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addUserStory(newStoryTitle.value, newStoryDetail.value)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>




    <!-- Modal -->
    <div  class="modal fade" id="StoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 *ngIf="selectedStory"  class="modal-title" id="StoryModalTitle">{{ selectedStory.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="selectedStory" class="modal-body">
             <!-- Content-->
             {{ selectedStory.detail }}

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="saveNewUserStory()" >Save changes</button>
            </div>
          </div>
        </div>
      </div>


