<div class="row w-100 mb-5">
    <div class="row my-3">
        <h3>Dashboard</h3>
    </div>

    <div class="row m-1 mx-4 px-4  w-100">
        <span class="subtitle">Active Sprints</span>
    </div>

    <div class="row w-100 mb-5">
        <div class="col my-3  pt-1" *ngIf="sprints">
            <div class="row w-100 justify-content-center">
                    <div style="width: 15em;" class="card mx-2" *ngFor="let sprint of activeSprints"
                    (click)="goTo('/sprint-details', sprint.id)" [routerLink]="['/sprint-details', sprint.id]">
                    <div class="card-body">
                        <h5 class="card-title">{{sprint.name}}</h5>
                        <p>{{sprint.sprintSummary}}</p>
                        <span class="datetitle">{{sprint.endDate}}</span>
                        <hr class="mt-4">
                        <span class="badge badge-primary">{{sprint.status}}</span>
                        <p class="badge badge-secondary ml-2">User Stories  <span class="badge badge-light">{{sprint.userStories.length}}</span></p>
                    </div>
                </div>
                <div style="width: 15em;" class="card mx-2 text-center" (click)="goTo('/sprint-planning', null)" >

                  <span class="mt-5">+</span>
                  <span>New Sprint</span>
              </div>

            </div>
        </div>


    </div>

    <div class="row m-1 mx-4 px-4  w-100">
        <span class="subtitle">Completed Sprints</span>
    </div>

    <div class="row my-3 w-100 pt-1 justify-content-center" *ngIf="sprints">
        <div style="width: 15em;" class="card mx-2" *ngFor="let sprint of completedSprints"
            (click)="goTo('/sprint-details', sprint.id)" [routerLink]="['/sprint-details', sprint.id]">
            <div class="card-body">
                <h5 class="card-title">{{sprint.name}}</h5>
                <p>{{sprint.sprintSummary}}</p>
                <span class="datetitle">{{sprint.endDate}}</span>
                <hr>
                <span class="badge badge-dark">{{sprint.status}}</span>
            </div>
        </div>
    </div>
</div>

<div class="text-center w-100">
    <button class="btn btn-primary w-50 m-5" (click)="showAllSprints()">
      Show All Sprints
    </button>
  </div>

