<div class="row w-100">
  <div class="row my-3">
    <span class="sprint-status-title">Active Sprints</span>
  </div>

  <div class="row w-100">
    <div class="col my-3  pt-1" *ngIf="activeSprints">
      <div class="row w-100">
        <div
          style="width: 15em;"
          class="card mx-2"
          *ngFor="let sprint of activeSprints"
          (click)="goTo('/sprint-details', sprint.id)"
          [routerLink]="['/sprint-details', sprint.id]"
        >
          <div class="card-body">
            <h5 class="card-title">{{ sprint.name }}</h5>
            <hr />
            <div>{{ sprint.sprintSummary }}</div>
            <div>{{ sprint.endDate }}</div>
            <hr />
            <div>{{ sprint.status }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 my-3 pt-1">
      <div
        style="width: 15em; height: 14em;"
        class="card mx-2 text-center"
        (click)="goTo('/sprint-planning', null)"
      >
        <h1 class="w-100" style="text-align: center;">+</h1>
      </div>
    </div>
  </div>

  <div class="row my-3">
    <span class="sprint-status-title">Completed Sprints</span>
  </div>

  <div class="row my-3 w-100 pt-1" *ngIf="completedSprints">
    <div
      style="width: 15em;"
      class="card mx-2"
      *ngFor="let sprint of completedSprints"
      (click)="goTo('/sprint-details', sprint.id)"
      [routerLink]="['/sprint-details', sprint.id]"
    >
      <div class="card-body">
        <h5 class="card-title">{{ sprint.name }}</h5>
        <hr />
        <div>{{ sprint.sprintSummary }}</div>
        <div>{{ sprint.endDate }}</div>
        <hr />
        <div>{{ sprint.status }}</div>
      </div>
    </div>

    <div class="text-center w-100">
        <button class="btn btn-primary w-50 m-5" (click)="showAllSprints()">
          Show All Sprints
        </button>
      </div>
  </div>

</div>
